# File Assembly generati
*.s

# Eseguibili e file oggetto
*.exe
*.out
*.o

# Cartelle di build di VS Code
.vscode/

*.pdf
agents.md
return_2 compiler/driver
return_2 compiler/return_2
Sandler Nora - Writing a C Compiler - 2024.pdf:Zone.Identifier
